DAY1

 COMMENTS AND HEADING 
 =
 Learning how to comment our codes

In [15]:
4+2

6

In [16]:
print('ERIC')

ERIC

In [17]:
print('Jannat')

Jannat

In [20]:
#Right

In [21]:
'''Jannat is determined''' # we use the triple code to extract multiple lines

'Jannat is determined'

In [22]:
2*3 #'''6+3'''

6

DATA TYPES
=

In [23]:
type(10)

int

In [24]:
type(15.72)

float

In [25]:
type('Eric and Jannat') #every text should be ina quoted mark

str

In [26]:
type([1,2,3,4,5,6,7,8])

list

In [27]:
type({2,3,4,5})

set

In [30]:
type((2,3,4,5,6))

tuple

Variable Assignment
=
Python is case sensitive

In [31]:
J=21

In [32]:
E=25

In [33]:
zz=J+E

In [34]:
zz

46

In [35]:
a=70

In [36]:
x=30

In [37]:
k=(a+x)**2
k

10000

In [38]:
s=3
d=5
w=s+d
w

8

In [49]:
k

10000

In [50]:
k

10000

In [39]:
s=5
d=2
w=s+d
w

7

XHSHHSHSHH

In [40]:
print('My name is Janna \nI am from Kasoa')

My name is Janna
I am from Kasoa

In [43]:
print("Question 1 is A \nQuestion 2 is B \nQuestion 3 is C")

Question 1 is A
Question 2 is B
Question 3 is C

In [46]:
print('My name is Eric and my coworker is Jannat. \nWe come from Kasoa, the great City of all times')

My name is Eric and my coworker is Jannat.
We come from Kasoa, the great City of all times

In [51]:
print(a,',',s,',',w,',',',',J,',',E,',',zz,',',k)

70 , 5 , 7 , , 21 , 25 , 46 , 10000

In [55]:
Course ="Meteorology and Climate Science."

In [56]:
len(Course)#Python starts indexing from 0

32

In [70]:
Course[0:3]#subsetting a range.

'Met'

In [71]:
Course[4::2]#it'll start from

'oooyadCiaeSine'

In [73]:
m="E"+"R"+"I"+"C"
m

'ERIC'

In [74]:
print(m[0],m[2])

E I

In [85]:
m.lower()

'eric'

In [82]:
v='dorkutso'

In [86]:
v.upper()

'DORKUTSO'

In [92]:
print('When upon life below you are tempest tossed \nWhen you are discourage thinking all is gone \nCount your many blessings')

When upon life below you are tempest tossed
When you are discourage thinking all is gone
Count your many blessings

CONCATENATION
=
How to join words, numbers etc. together

In [99]:
a='Meteorology '
b='and '
c='Climate '
d='Science '
print(a+b+c+d)

Meteorology and Climate Science

In [ ]:
a='Meteorology '
b='and '
c='Climate '
d='Science '
print(a+b+c,'',d)

In [105]:
print('VOTE FOR RHODA 2023 \n'*21)

VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023

FORMATING OF STRING
=

In [128]:
q='Jannat said the economy is hard'

In [129]:
b=q.lower()
b

'jannat said the economy is hard'

In [130]:
c=b.upper()

In [131]:
c

'JANNAT SAID THE ECONOMY IS HARD'

In [132]:
b.capitalize()

b

'jannat said the economy is hard'

In [133]:
q.split()

['Jannat', 'said', 'the', 'economy', 'is', 'hard']

In [135]:
q.replace('Jannat', 'Eric')

'Eric said the economy is hard'

In [136]:
q.replace('Jannat said','Eric says')

'Eric says the economy is hard'

In [139]:
first='Welcome to the {year} {prog} organized by {organizers}'.format(year=2022, prog='Internship', organizers='Dep')

In [140]:
first

'Welcome to the 2022 Internship organized by Dep'

In [147]:
Second='Welcome to the {} {} organized by {}'.format(2022,'Internship','Dep')

In [148]:
Second

'Welcome to the 2022 Internship organized by Dep'

In [152]:
7//3 #floor (which gives the whole number of a decimal number)

2

In [153]:
6%4 #Modulus: This gives the remainder

2

In [154]:
2>75

False

In [158]:
type(11.2 == 11.22)

bool

In [159]:
f=['Jannat','Eric']

In [164]:
l=f.append('Desmond')

In [ ]:
#fROZENSET

DICTIONARY
=

In [180]:
a={
    'Name':'Eric ',
    'Number':'0555971863',
    'Age': '17',
    'Sex':'Male',
    'Wife':'Jannat'
}

In [181]:
a

{'Name': 'Eric ',
 'Number': '0555971863',
 'Age': '17',
 'Sex': 'Male',
 'Wife': 'Jannat'}

In [182]:
9!=3

True

In [183]:
2<=20

True

In [184]:
2>=9

False

In [185]:
(6%4)==2

True

LOGICAL OPERATIONS
=

In [187]:
(5<2)&(5>3)#This works when both statements are true
#OR
#NOT

False

ONE WAY DECISON
=

In [188]:
x=5

In [193]:
if x==5:
    print('x equals 5')

x equals 5

In [194]:
if x>4:
    print('x is greater than four')

x is greater than four

In [195]:
if x!=6:
    print('Desmond is tired')

Desmond is tired

Two Way Decisions
=

In [199]:
input('Your age: ')

Your age: 21

'21'

In [203]:
name= input('Please enter your fulname ')
if name=='Jannat':
    print('You are my partner')
else:
    print('Please look for your partner')

Please enter your fulname Jannat
You are my partner

In [210]:
menu = input('Please,place your order ')
print('')
if menu == 'Jolof':
    print("It'll be delivered soon please")
else:
    print('Oohs! sorry we have only jolof currently.')

Please,place your order Wakye

Oohs! sorry we have only jolof currently

A NESTED IF STATEMENTS
=

In [220]:
grade= int(input('Enter your grade '))#100
print('')
if grade>60:
    print('\tStudent scored a passing grade')
    if grade >=90:
        print('\tPassed with A')
        if grade >=96:
            print('\tPassed with A+')

Enter your grade 80

	Student scored a passing grade

In [229]:
grade =int(input('Please enter your grade '))
print('')
if grade >=70 and grade <=100:
    print('A')
elif grade >=60 and grade <=69:
    print('B')
elif grade >=50 and grade <=59:
    print('C')
elif grade>=40 and grade <=49:
    print('D')
else:
    print('You have failed, come for your school fees')

Please enter your grade 28

You have failed, come for your school fees