LOOPS
=
WHILE LOOPS

In [6]:
x=1
while x<32:
    print('This is day ', x)
    x=x+1
else:
    print("There's no such day")

This is day  1
This is day  2
This is day  3
This is day  4
This is day  5
This is day  6
This is day  7
This is day  8
This is day  9
This is day  10
This is day  11
This is day  12
This is day  13
This is day  14
This is day  15
This is day  16
This is day  17
This is day  18
This is day  19
This is day  20
This is day  21
This is day  22
This is day  23
This is day  24
This is day  25
This is day  26
This is day  27
This is day  28
This is day  29
This is day  30
This is day  31
There's no such day

In [9]:
t=10
while t<70:
    F=((9*t)/5)+32
    print(t,F)
    t=t+5

10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0
55 131.0
60 140.0
65 149.0

In [12]:
c=5
while c<81:
    K=273 + c
    print(c,K)
    c+=5

5 278
10 283
15 288
20 293
25 298
30 303
35 308
40 313
45 318
50 323
55 328
60 333
65 338
70 343
75 348
80 353

FOR LOOPS
=

In [15]:
language='PYTHON PROGRAM'
for l in language:
    print(l)

P
Y
T
H
O
N

P
R
O
G
R
A
M

In [17]:
interns=['Jannat','Eric','Daniel','Joycelyn']
for n in interns:
    if n=='Jannat':
        print(len(n),"She is in group one")

6 She is in group one

In [19]:
import numpy as py

In [20]:
days=py.arange(1,365)

In [21]:
days

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364])

In [22]:
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [30]:
for x in range(2,100,2):
    print(x)
print('The days above are even numbers')

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
The days above are even numbers

NESTED LOOP
=
A loop within another loop

In [31]:
A= py.arange(1,11,1)#an array is a range of numbers within a square bracket

In [32]:
A

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [35]:
A=[1,2,3,4,5,6,7,8,9,10]
B=[5]
for a in A:
    for b in B:
        y=a*b
        print(b,'*',a,'=',y)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
m=[2,4]
n=[3,5]
o=[1,2]
for N in n:
    for M in m:
        for O in o:
            u=N+M+O
            print(N,"+",M,"+",O,"=",u)

3 + 2 + 1 = 6
3 + 2 + 2 = 7
3 + 4 + 1 = 8
3 + 4 + 2 = 9
5 + 2 + 1 = 8
5 + 2 + 2 = 9
5 + 4 + 1 = 10
5 + 4 + 2 = 11

LOOP CONTROL
=
BREAK, CONTINUE, PASS, ELSE

BREAK
=

In [39]:
NAM=['Jane','Moses','Jannat and Eric','John']#input('Please enter your name ')
for nm in NAM:
    if nm =='Jannat and Eric':
        print('You are welcome')
        break

You are welcome

In [42]:
mn=input('Please enter your name ')
if mn =='Jannat and Eric':
    print('You are welcome')

Please enter your name Jannat and Eric
You are welcome

CONTINUE
=

In [46]:
ctr=0
for ctr in range(20):
    ctr +=1
    if ctr>10 and ctr<12:
        print("This is number 11")
        continue
        print('hahahah')
    if ctr >14 and ctr <16:
        print('The number is 15')
        continue
    print('The numbers is ',ctr)

The numbers is  1
The numbers is  2
The numbers is  3
The numbers is  4
The numbers is  5
The numbers is  6
The numbers is  7
The numbers is  8
The numbers is  9
The numbers is  10
This is number 11
The numbers is  12
The numbers is  13
The numbers is  14
The number is 15
The numbers is  16
The numbers is  17
The numbers is  18
The numbers is  19
The numbers is  20

PASS
=

In [48]:
NOM=[1,2,3,4,5,6,7,8,9,10]
for fr in NOM:
    if fr % 2 ==0:
        pass
    else:
        print(fr)

1
3
5
7
9

FUNCTIONS
=

In [49]:
def welcom():
    c ='You are welcom'
    return c
welcom()

'You are welcom'

In [50]:
welcom

In [51]:
def cal(a,b):# a and b are called dummy variables.
    d=a+b
    return d
cal(2,3)

5

In [52]:
cal(9,12)

21

In [53]:
cal(2299299929,29292929)

2328592858

In [56]:
def eric():
    f='How may I help you?'
    return f
eric()

'How may I help you?'

In [55]:
eric()

'How may I help you?'

In [57]:
def p(a):
    v=a**2 +10
    return v

In [58]:
p(2)

14

In [59]:
p(375643)

141107663459

In [60]:
def pt(t,p1,p2):
    e=p1/p2
    s=0.286
    ans=t*e**s
    return ans

In [61]:
pt(76,100,262)

57.70047959799989

In [88]:
def dp(t,p0,p1,units):
    if units.upper()== 'C' or units.upper()=='CELCIUS':
        t=273.15 + t
        answer=t*(p0/p1)**0.286
        answer=answer-273.15
    elif units.upper()=='K' or units.upper()=='KELVIN':
        answer=t*(p0/p1)**0.286
    return answer

In [91]:
dp(20.9,100,123,'CELCIUS')

3.9958130146735584

LOOPING WITHIN FUNCTIONS
=

In [1]:
def test(x,max_x,x_interval):
    while(x<max_x):
        print(x)
        x+=x_interval
    return x


#
test(2,50,2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

50

LAMMBDA AS A FUNCTION
=

In [93]:
SQ=lambda t,p0,p1:t*(p0/p1)**0.286
SQ(20,100,123)

18.850250842691622

In [6]:
Energy=lambda A,O,T:A*O*T**4 #Where O is Boltzmann's constant, T=temperature in K and A = Surface area in meter sq
O=1.38*10**-23

In [8]:
w=Energy(20,O,273)
print('The total solar engery is ',w,'J/K')

The total solar engery is  1.5330618281159998e-12 J/K

In [41]:
EA =lambda a,pi,r,s:(1-a)*pi*r**2*s
pi=3.142

In [48]:
EA(0.3,pi,300,3600)

712605599.9999999

In [1]:
B=[12,14]
H=[10,4]
for n in B:
    for m in H:
        y=0.5*n*m
        print(y)

60.0
24.0
70.0
28.0

In [2]:
area=lambda a,b:0.5*a*b

In [5]:
b=[12,14]
h=[10,4]
for g in B:
    for j in H:
        y=area(g,j)
        print(0.5,'*',g,'*',j,'=',y)

0.5 * 12 * 10 = 60.0
0.5 * 12 * 4 = 24.0
0.5 * 14 * 10 = 70.0
0.5 * 14 * 4 = 28.0