In [1]:
print(2)

2

In [2]:
print('\n')

In [3]:
man =int(input("AGE:"))
if man >= 59:
    print("You are close to pension")
elif man < 20:
    print("You're too young")
else:
    print("out of the category")

AGE:55
out of the category

In [4]:
man =int(input("AGE:"))
if man <= 59:
    print("You are close to pension")
elif man < 20:
    print("You're too young")
else:
    print("out of the category")

AGE:42
You are close to pension

In [5]:
input("Enter your age")

Enter your age65

'65'

In [6]:

k=([1,2,3,4,5,6])
type(k)

3==3.0

True

In [7]:
d= 'variable key'
d[0:9]

'variable '

In [8]:
d[: : 2]

'vral e'

In [9]:
h=[3,8,9,6]
h[2]

9

In [25]:
print('Hello '+' baby')

a='one'
b='Quantum '
c='Ghana'
print(a+b+c) 

print('hello \\\n'*3)

n="Kwame taked about Kofi's shoe"
print(n)


print('Kwesi said,"my name is ERIC"'.capitalize())



l="Afua,Kodjo,Kwesi,Kwaku"
l.split(" ")

Hello  baby
oneQuantum Ghana
hello \
hello \
hello \

Kwame taked about Kofi's shoe
Kwesi said,"my name is eric"

['Afua,Kodjo,Kwesi,Kwaku']

In [11]:
l="Mensah Sabbath hall"
print(l.replace('Mensah','ERIC'))

l.find('S')
l.count("a")

ERIC Sabbath hall

4

In [12]:
man="I AM Eric Dorkutso {0} and I'm {1} years old ".format("Ayitah",25)
man
# this is a string formating

"I AM Eric Dorkutso Ayitah and I'm 25 years old "

In [13]:
w=(2,3,4,5,6,7) #this is a tuple and it's unmutable,i.e you can't change its members

type(w)

tuple

In [14]:
a={2,5,7,8,9,41,2,3,1}#this is a set and it's unordered,unmutable and unindexed but you can add any new element to it
type(a)               # you can update the set

a.add(10)
a.update([12,23,45,67])
a

{1, 2, 3, 5, 7, 8, 9, 10, 12, 23, 41, 45, 67}

In [15]:
d=frozenset(                  #thisset isn't changeable
['7','9','8']
)
d.union({1,2,3})             # the union joins the two sets together

frozenset({1, 2, 3, '7', '8', '9'})

In [16]:
s={    
    "name":"AYITAH DORKUTSO ERIC",
    "phone": 555971863,
    "email":"ayitaheric64@gmail.com",
    "Basic":"Lekpongunor D/A Primary school"
}

In [17]:
s["name"]
s.get('email')
s['Basic']

s.keys()
s.items()
s.values()

dict_values(['AYITAH DORKUTSO ERIC', 555971863, 'ayitaheric64@gmail.com', 'Lekpongunor D/A Primary school'])

In [18]:
type(2 + 3j) #how to write a complex number 

complex(2,5)

float(34)

34.0

In [19]:

if len('AYITAH')>8:
    print("wooow")
elif"Ayitah".startswith("a"):
    print("low key")
else:
    print("not true")

not true

In [21]:
mat =100
if mat > 60:
    print("\tpassed")
    if mat>=90:  
        print("\tvery good")
        if mat>=96:
            print("\tEXCELLENT")

	passed
	very good
	EXCELLENT

In [24]:
E=[39,58,60]
E.insert(2,47)
E

[39, 58, 47, 60]